//Utilities for positions
.u-relative {
    position: relative;
}

//Only when the parent has position: relative
.u--absolute {
    position: absolute;
}

.u-fixed {
    position: fixed;
}

//Utilities for texts and links
.u-text--bold {
    font-weight: bold;
}

.u-text--black {
    color: #000;
}

.u-text--white {
    color: #fff;
}

//Utilities for sizes
.u-full-width {
    width: 100%;
}

.u-full-height {
    height: 100%;
}

//Utilities for border
.u-no-border {
    border: 0;
}

.u-border {
    border: 1px solid #ddd;
}

//Utilities for margin, padding
.u-margin--0 {
    margin: 0;
}

.u-padding--0 {
    padding: 0;
}

//Utilities for background
.u-bg--white {
    background-color: #fff;
}

//Utilities for displays
.u-block {
    display: block;
}

.u-table {
    display: table;
}

//Utilities for flexbox
.u-flex {
    display: flex;
}

.u-flex--inline {
    display: inline-flex;
}

.u-center {
    align-items: center;
    justify-content: center;
}

.u-flexend {
    justify-content: flex-end;
}

.u-space-between {
    justify-content: space-between;
}

.u-space-around {
    justify-content: space-around;
}