 @import '../../content/mixins/mixins.scss';
 body {
     background-color: #BBDEFB;
 }

 .comments-panel {
     background-color: #fff;
     border: 1px solid #a9a9a9;
     border-radius: 7px;
     font-size: 15px;
     margin: 30px auto;
     max-width: 600px;

     &__top {
         border-bottom: 1px solid #a9a9a9;
         min-height: 60px;
         &-img {
             background-color: #ccc;
             border: #a9a9a9;
             border-radius: 100%;
             max-height: 45px;
             max-width: 45px;
         }
     }

     &__texts {
         min-height: 360px;
         overflow-y: auto;
     }

     &__textarea {
         border-left: 0;
         border-right: 0;
         min-height: 90px;
         padding: 5px;
     }

     &__bottom {
         max-height: 60px;
         justify-content: flex-end;
         padding: 10px 12px 15px;
     }
     
     &__button {
         border-radius: 0;
         font-size: 15px;
         margin-left: auto;
         padding: 5px 18px;
     }
 }