.formular {
  background-color: #ebebeb;
  margin: 25px auto;
  max-width: 480px;
  padding: 25px; }
  .formular-content div {
    justify-content: space-between; }
    .formular-content div.form-group {
      margin-left: 0;
      margin-right: 0; }
    .formular-content div input {
      margin-left: auto;
      max-width: 300px; }
    .formular-content div input[type="checkbox"],
    .formular-content div input[type="radio"] {
      position: relative;
      top: 3px; }
  .formular-content__buttons {
    margin-bottom: 0; }
  .formular-content__list label {
    font-weight: 400; }
  .formular-content__list label[for="languages"],
  .formular-content__list label[for="selectRegion"] {
    font-weight: 700;
    margin-bottom: 8px;
    margin-right: auto; }
