@import '../mixins/mixins.scss';

.formular {
    background-color: #ebebeb;
    margin: 25px auto;
    max-width: 480px;
    padding: 25px;

    &-content {

        div {
            justify-content: space-between;

            &.form-group {
                margin-left: 0;
                margin-right: 0;
            }

            input {
                margin-left: auto;
                max-width: 300px;
            }

            input[type="checkbox"],
            input[type="radio"] {
                position: relative;
                top: 3px;
            }
        }

        &__personal {
            flex-direction: row;
        }

        &__buttons {
            margin-bottom: 0;
        }

        &__list {
            flex-direction: row;

            label {
                font-weight: 400;
            }

            label[for="languages"],
            label[for="selectRegion"] {
                font-weight: 700;
                margin-bottom: 8px;
                margin-right: auto;
            }
        }
    }
}