@import '../../mixins/mixins.scss';

        #formular {
            background-color: #ebebeb;
            border: 1px solid #bbb;
            margin: 25px auto;
            max-width: 450px;
            padding: 25px;
        }

        .form-validation__buttons {
            margin-bottom: 0;
        }

        #formular>form>div {
            display: flex;
            justify-content: space-between;
        }

        #formular>form>div.personal-details {
            flex-direction: row;
        }

        #formular>form>div.form-lists {
            flex-direction: column;
        }

        #formular>form>div.form-lists label {
            font-weight: 400;
        }

        #formular>form>div.form-lists label[for] {
            font-weight: 700;
        }

        #formular>form>div input {
            margin-left: auto;
            max-width: 300px;
        }

        #formular>form>div input[type="checkbox"],
        #formular>form>div input[type="radio"] {
            position: relative;
            top: 3px;
        }