//A file that contains variables for projects

//Variables for borders
$side-gray: 2px solid #ccc;

//Variables for font families
$arial: Arial, Helvetica, sans-serif;

$gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$times: 'Times New Roman', Times, serif;