//A file that contains variables for projects

//Variables for borders

$side-gray: 1px solid #ccc;

//Variables for font families

$arial: Arial, Helvetica, sans-serif;

$gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$times: 'Times New Roman', Times, serif;

//variables for colors

$font-color: #444;

$red: #c0002b;

$green-dark: #0a493e;

$green-light: #317c2e;

//device breakpoints

$break-mobile: 480px;

$break-mobile-landscape: 600px;

$break-tablet: 768px;

$break-desktop: 960px;

$break-big-desktop: 1200px;

$break-wide-desktop: 1440px;