body {
  background-color: #e0ffff; }

.messages-panel {
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 850px; }
  .messages-panel .panel {
    font-size: 15px; }
  .messages-panel .user-icon {
    border-radius: 100%;
    bottom: 0;
    height: 35px;
    margin: auto;
    top: 0;
    width: 35px; }
  .messages-panel input,
  .messages-panel textarea {
    color: #444;
    font-size: 14px; }
  .messages-panel input:focus,
  .messages-panel textarea:focus,
  .messages-panel button:focus {
    outline: none !important; }
  .messages-panel .users-panel {
    max-width: 300px;
    min-height: 568px; }
    .messages-panel .users-panel__top {
      margin: 9px 20px; }
    .messages-panel .users-panel__search-icon {
      color: #ccc;
      font-size: 19px;
      top: 5px; }
    .messages-panel .users-panel__search-bar {
      border-top: 0;
      border-right: 0;
      border-bottom: 1px;
      border-left: 0;
      border-style: solid;
      border-color: #ccc;
      padding: 4px 4px 4px 24px; }
    .messages-panel .users-panel__content {
      overflow-x: hidden;
      overflow-y: auto; }
    .messages-panel .users-panel__person {
      border-top: 1px solid #ccc;
      min-height: 70px;
      padding: 5px 10px; }
      .messages-panel .users-panel__person:active {
        border-left: 2px solid #003e81; }
      .messages-panel .users-panel__person:last-of-type {
        border-bottom: 1px solid #ccc; }
  .messages-panel .comments-panel {
    max-width: 520px; }
    .messages-panel .comments-panel__top {
      border-bottom: 1px solid #ccc;
      min-height: 50px;
      padding: 5px 10px; }
    .messages-panel .comments-panel__texts {
      min-height: 340px;
      overflow-y: auto; }
    .messages-panel .comments-panel__textarea {
      border-top: 1px;
      border-right: 0;
      border-bottom: 1px;
      border-left: 0;
      border-style: solid;
      border-color: #ccc;
      min-height: 110px;
      padding: 5px; }
    .messages-panel .comments-panel__bottom {
      max-height: 60px;
      justify-content: flex-end;
      padding: 10px 12px 15px; }
    .messages-panel .comments-panel__stickers {
      color: #ffd902; }
    .messages-panel .comments-panel__button-send {
      border-radius: 0;
      margin-left: auto;
      padding: 5px 18px; }
    .messages-panel .comments-panel__button-clip {
      border-radius: 100%;
      border: 0;
      padding: 1px 10px 2px;
      font-size: 19px;
      color: #444; }
