 @import 'mixins/mixins.scss';
 body {
     background-color: #e0ffff;
 }

 .messages-panel {
     flex-direction: row;
     justify-content: space-between;
     margin: 30px auto;
     max-width: 850px;
     .panel {
         font-size: 15px;
     }
     .user-icon {
         border-radius: 100%;
         bottom: 0;
         height: 35px;
         margin: auto;
         top: 0;
         width: 35px;
     }
     input,
     textarea {
         color: #444;
         font-size: 14px;
     }
     input:focus,
     textarea:focus,
     button:focus {
        outline: none !important;
    }
     .users-panel {
         max-width: 300px;
         min-height: 567px;
         &__top {
             margin: 9px 20px;
         }
         &__search {
             &-icon {
                 color: #aaa;
                 font-size: 19px;
                 top: 5px;
             }
             &-bar {
                 border: 0;
                 padding: 4px 4px 4px 24px;
             }
         }
         &__content {
             @include overflow-x-y(hidden, auto);
         }
         &__person {
             border-top: 1px solid #ccc;
             min-height: 70px;
             padding: 5px 10px;
             &:active {
                 border-left: 2px solid #003e81;
             }
             &:last-of-type {
                 border-bottom: 1px solid #ccc;
             }
         }
         &__buttons {
             color: #aaa;
             cursor: pointer;
             font-size: 16px;
             right: 15px;
             top: 10px;
             &:hover {
                 color: #444;
             }
         }
     }
     .comments-panel {
         max-width: 520px;
         &__top {
             border-bottom: 1px solid #ccc;
             min-height: 50px;
             padding: 5px 10px;
         }
         &__texts {
             min-height: 340px;
             overflow-y: auto;
         }
         &__textarea {
             @include borders(1px, 0, 1px, 0, solid, #ccc);
             min-height: 110px;
             padding: 5px;
         }
         &__bottom {
             max-height: 60px;
             justify-content: flex-end;
             padding: 10px 12px 15px;
         }
         &__stickers {
             color: #777;
             cursor: pointer;
             font-size: 24px;
             margin: 5px 13px;
         }
         &__button {
             &-clip {
                 border-radius: 100%;
                 border: 0;
                 color: #777;
                 cursor: pointer;
                 font-size: 19px;
                 margin-right: auto;
                 padding: 1px 10px 2px;
             }
             &-send {
                 border-radius: 0;
                 padding: 5px 18px;
             }
         }
     }
 }