@mixin overflow-x-y($x, $y) {
    overflow: {
        x: $x;
        y: $y;
    }
}

<<<<<<< HEAD:content/mixins/mixins.scss
=======
@mixin background($attachment, $position, $repeat, $size) {
    background: {
        attachment: $attachment;
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}

>>>>>>> develop:VueJS-Practice/content/mixins/mixins.scss
@mixin borders($top, $right, $bottom, $left, $style, $color) {
    border: {
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        style: $style;
        color: $color;
    }
}

@mixin font-style($size, $color, $family) {
    font: {
        size: $size;
        family: $family;
    }
    color: $color;
}

@mixin css-triangle($color, $direction, $size) {
    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}