<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Actors</title>

    <meta charset="utf-8" />

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" type="text/javascript"></script>

    <link rel="stylesheet" href="../../../content/utilities/utilities.css" />

    <link rel="stylesheet" href="../../../content/forms/filtering/actors.css" />

</head>

<body>

    <section class="box u-full-width">
        <input type="text" role="textbox" class="box__filter u-full-width" v-model="query" />
        <article class="box-article u-border" v-for="actor in actors" :key="actor">
            <h2 role="heading" class="box-article__heading">{{ actor.name }}</h2>
            <h4 role="heading" class="box-article__heading-sub">{{ actor.dateOfBirth }}</h4>
            <h4 role="heading" class="box-article__heading-sub">{{ actor.placeOfBirth }}</h4>
            <hr role="separator">
            <p role="text" class="box-article__text">{{ actor.description }}</p>
        </article>
    </section>

</body>
<script>
    new Vue({
        el: '.box',
        data: {
            query: '',
            actors: {
                names: ['Russell Crowe', 'Natalie Portman', 'Gerard Butler'],
                dateOfBirths: ['7 April 1964', '9 June 1981', '13 November 1969'],
                placeOfBirths: ['Wellington, New Zealand', 'Jerusalem, Israel', 'Paisley, Scotland'],
                descriptions: [
                    'Russell Ira Crowe is an actor, film producer and musician. Although a New Zealand citizen, he has lived most of his life in Australia. He came to international attention for his role as the Roman General Maximus Decimus Meridius in the 2000 historical epic film Gladiator, directed by Ridley Scott, for which Crowe won an Academy Award for Best Actor, a Broadcast Film Critics Association Award for Best Actor, an Empire Award for Best Actor and a London Film Critics Circle Award for Best Actor and 10 further nominations for best actor.',
                    'Natalie Portman (born Neta-Lee Hershlag) is an actress and film producer with dual Israeli and American citizenship. Portman is best known for her roles as Padmé Amidala in the Star Wars prequel trilogy and Nina Sayers in Black Swan (2010); she won an Academy Award, Golden Globe Award, and Screen Actors Guild Award, among other accolades, for her performance in the latter.',
                    'Gerard James Butler is a Scottish actor, producer, and singer. After studying law, Butler turned to acting in the mid-1990s with small roles in productions such as Mrs Brown (1997), the James Bond film Tomorrow Never Dies (1997), and Tale of the Mummy (1998). In 2000, he starred as Dracula in the horror film Dracula 2000 with Christopher Plummer and Jonny Lee Miller.'
                ],
            },
        },
        computed: {
            actors: function () {

            }
        }
    });
</script>

</html>