<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Filter Counties</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" type="text/javascript"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../../content/forms/filtering/filterCounties.css" />

    <link rel="stylesheet" href="../../../content/utilities/utilities.css" />

</head>

<body>

    <div class="filter-container u-full-width">
        <h1 class="text-center">UK Counties</h1>
        <input class="filter-container__input u-full-width" type="text" placeholder="Search..." v-model="query" />
        <div v-for="county in counties" class="filter-container__text">
            <h3 class="filter-container__heading text-center">{{ county.title }}</h3>
            {{ county.content }}
        </div>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el: '.filter-container',
        data: {
            query: '',
            counties: [{
                title: 'Berskshire',
                content: 'Berkshire is a county in south east England, west of London and is one of the home counties. It was recognised by the Queen as the Royal County of Berkshire in 1957 because of the presence of Windsor Castle, and letters patent were issued in 1974. Berkshire is a county of historic origin and is a home county',
            }, {
                title: 'Surrey',
                content: 'Get the latest news from the BBC in Berkshire: Local website with breaking news, sport, weather and travel from the area plus in-depth features, analysis, audio and video coverage; listen to BBC Radio Berkshire live and catch-up with local TV news.',
            }, {
                title: 'Lincolnshire',
                content: 'With so many places to visit in Berkshire, you can easily forget you are right on London’s doorstep. ... Berkshire is also home to many other picturesque towns and villages such as Newbury, Hungerford, Ascot, Hurley, Cookham, Bray, Littlewick Green, and Waltham St Lawrence',
            }, ],
        },
        computed: {
            counties: function () {
                return this.counties.filter((county) => {
                    return county.content.match(this.query) ||
                        county.title.match(this.query)
                });
            }
        },
    });
</script>

</html>