<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Actors</title>

    <meta charset="utf-8" />

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" type="text/javascript"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../content/utilities/utilities.css" />

    <link rel="stylesheet" href="../../content/object/actors.css" />

</head>

<body>

    <section class="box u-full-width">
        <input type="text" role="textbox" v-bind:placeholder="searchHere" class="box__filter u-full-width" v-model="query" />
        <transition name="fade" v-for="actor in allActors">
            <article role="article" class="article u-border u-flex u-relative" v-show="showArticle">
                <span class="article__close u--absolute" @click.self.prevent="showArticle = !showArticle">X {{ closeText }}</span>
                <div class="article__content">
                    <h2 role="heading" class="article__heading">{{ actor.name }}</h2>
                    <p role="heading" class="article__heading-sub">{{ actor.dateOfBirth }}</p>
                    <p role="heading" class="article__heading-sub">{{ actor.placeOfBirth }}</p>
                    <hr role="separator" class="article__separator">
                    <p role="text" class="article__text">{{ actor.biography }}</p>
                </div>
                <div class="article__image">
                    <img role="img" v-bind:src="actor.image" v-bind:title="actor.name" class="u-full-width" />
                </div>
            </article>
        </transition>
    </section>

</body>
<script src="../../scripts/object/actors.js"></script>

</html>