<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Destinations</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" type="text/javascript"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../content/utilities/utilities.css" />

    <link rel="stylesheet" href="../../content/object/destinations.css" />

</head>

<body>
    <section role="main" class="main u-full-width">
        <input id="search-bar" class="u-full-width" type="text" placeholder="Search..." v-model="query" />
        <div class="cards u-full-width u-flex u-space-evenly">
            <div class="card u-bg--white u-border" v-for="destination in allDestinations">
                <div class="u-relative">
                    <img v-bind:src="destination.image" v-bind:title="destination.imgInformation" class="card__img u-full-width" />
                    <div class="card__overlay">
                        <p class="card__overlay-text">{{ destination.overlayText }}</p>
                    </div>
                </div>
                <div class="card__content u-full-height u-relative">
                    <p role="heading" class="card__heading">{{ destination.title }}</p>
                    <p role="heading" class="card__subHeading u-text--bold">{{ destination.subtitle | uppercaseSubTitle }}</p>
                    <p role="text" class="card__text">{{ destination.content }}</p>
                    <div class="card__link-container u--absolute">
                        <a role="link" href="#" class="card__link u-relative">{{ destination.link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript" src="../../scripts/object/destinations.js"></script>

</html>