<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Form validation</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

</head>

<body>
    <div id="formular" class="u-full-width u-full-height">
        <form role="form" @submit="checkForm" method="post" class="form-horiontal">
            <div class="form-group personal-details">
                <label for="firstName">First Name:</label>
                <input class="u-full-with" type="text" v-model="firstName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group personal-details">
                <label for="lastName">Last Name:</label>
                <input class="u-full-with" type="text" v-model="lastName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group personal-details">
                <label for="age">Age:</label>
                <input class="u-full-with" type="text" v-model="age" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group personal-details">
                <label for="address">Address:</label>
                <input class="u-full-with" type="text" v-model="homeAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group personal-details">
                <label for="email">Email:</label>
                <input class="u-full-with" type="email" v-model="emailAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group personal-details">
                <label for="address">Password:</label>
                <input class="u-full-with" type="password" v-model="emailPassword" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group form-lists">
                <label for="languages">Languages:</label>
                <label>
                    English: <input type="checkbox" v-model="languages" />
                </label>
                <label>
                    Spanish: <input type="checkbox" v-model="languages" />
                </label>
                <label>
                    French: <input type="checkbox" v-model="languages" />
                </label>
                <label>
                    Arabic: <input type="checkbox" v-model="languages" />
                </label>
                <label>
                    Chinese: <input type="checkbox" v-model="languages" />
                </label>
            </div>
            <div class="form-group form-lists">
                <label for="selectRegion">Select your region:</label>
                <label>
                    European Union: <input type="radio" name="country" v-model="selectRegion" />
                </label>
                <label>
                    United Kingdom: <input type="radio" name="country" v-model="selectRegion" />
                </label>
                <label>
                    Russia/Belarus: <input type="radio" name="country" v-model="selectRegion" />
                </label>
                <label>
                    Turkey: <input type="radio" name="country" v-model="selectRegion" />
                </label>
                <label>
                    Israel: <input type="radio" name="country" v-model="selectRegion" />
                </label>
            </div>
            <div class="form-group">
                <input type="submit" />
                <input type="reset" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        new Vue({
            el: "#formular",
            data: {
                firstName: null,
                lastName: null,
                age: 0,
                homeAddress: null,
                emailAddress: null,
                emailPassword: null,
                fieldRequired: null,
            },
            methods: {
                checkForm: function() {

                }
            },
        });
    </script>

    <style type="text/css" scope>
        #formular {
            background-color: #ebebeb;
            border: 1px solid #bbb;
            margin: 50px auto;
            max-width: 500px;
            padding: 20px 30px;
        }
        
        #formular>form>div {
            display: flex;
            justify-content: space-between;
        }
        
        #formular>form>div.personal-details {
            flex-direction: row;
        }
        
        #formular>form>div.form-lists {
            flex-direction: column;
        }
        
        #formular>form>div.form-lists label {
            font-weight: 400;
        }
        
        #formular>form>div.form-lists label[for] {
            font-weight: 700;
        }
        
        #formular>form>div input {
            max-width: 250px;
        }
    </style>
</body>

</html>