@import '../mixins/mixins.scss';

@import '../variables/variables.scss';

body {
    margin: 0;
    padding: 0;
}

.box {
    font-family: $gill-sans;
    margin: 0 auto;
    max-width: 650px;

    &__filter {
        margin: 25px 5px;
        padding: 5px;
    }

    .article {
        border-radius: 12px;
        margin-bottom: 25px;
        padding: 40px 20px 20px;

        &__content {
            padding-right: 20px;
        }
        &__close {
            cursor: pointer;
            right: 20px;
            top: 8px;
        }
        &__heading {
            margin: 0 auto 15px;
            &-sub {
                font-size: 16px;
                margin-bottom: 5px;
                &:nth-of-type(1) {
                    text-transform: uppercase;
                }
                &:nth-of-type(2) {
                    font-style: italic;
                }
            }
        }
        &__text {
            font-size: 14px;
            margin-bottom: 0;
        }
        &__image {
            img {
                min-width: 215px;
            }
        }
    }
}