@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }
  body #dropdown-container {
    background-color: #6c7574;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 500px;
    padding: 3px 10px;
    width: 100%; }
    body #dropdown-container .dropdown-section {
      color: #444;
      font-size: 14px; }
      body #dropdown-container .dropdown-section:nth-of-type(2) {
        margin-left: 13px; }
      body #dropdown-container .dropdown-section select {
        padding: 2px;
        width: 180px; }
    body #dropdown-container .dropdown-stock {
      color: #fff;
      font-size: 18px;
      margin-left: auto; }
