.countries {
  margin: 35px auto;
  max-width: 900px; }
  .countries__table {
    font-size: 15px; }
    .countries__table th, .countries__table td {
      text-align: center; }
  .countries__statistics {
    margin-top: 25px; }
    .countries__statistics th, .countries__statistics td {
      text-align: center; }
