body {
  background-attachment: fixed;
  background-image: url("../../images/destinations/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }

.main {
  margin: 30px auto; }
  .main #search-bar {
    display: inherit;
    font-size: 15px;
    margin: 0 auto 40px;
    max-width: 345px;
    padding: 5px; }
    .main #search-bar:focus {
      outline: 0; }
  .main .cards {
    flex-flow: row wrap; }
    .main .cards .card {
      border-radius: 8px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      margin-bottom: 50px;
      max-width: 350px; }
      .main .cards .card__img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 225px;
        transition: filter 0.5s; }
        .main .cards .card__img:hover {
          cursor: pointer;
          filter: brightness(75%); }
      .main .cards .card-content {
        border-top: 1px solid #ccc;
        color: #444;
        min-height: 350px;
        padding: 20px; }
        .main .cards .card-content__heading {
          font-size: 21px;
          margin-bottom: 7px;
          text-align: center; }
        .main .cards .card-content__subHeading {
          color: #888;
          font-size: 16px;
          margin-bottom: 7px; }
        .main .cards .card-content__text {
          font-size: 15px; }
          .main .cards .card-content__text:last-child {
            bottom: 20px;
            left: 0;
            margin-bottom: 0;
            right: 0;
            text-align: center; }
        .main .cards .card-content__link {
          text-align: center; }
          .main .cards .card-content__link-text {
            border-bottom: 1px solid transparent;
            color: #444;
            cursor: pointer;
            text-decoration: none;
            transition: all ease-in-out 0.4s; }
            .main .cards .card-content__link-text::after {
              content: '>';
              right: -10px;
              position: absolute;
              opacity: 0;
              top: 0;
              transition: all ease 0.4s; }
            .main .cards .card-content__link-text:hover {
              border-bottom: 1px solid #444; }
              .main .cards .card-content__link-text:hover::after {
                opacity: 1;
                right: -15px; }

@media (max-width: 767px) {
  .cards {
    align-items: center;
    flex-direction: column; } }
