body {
  background-attachment: fixed;
  background-image: url("../../images/destinations/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }

.main {
  margin: 50px auto;
  max-width: 1100px; }
  .main #search-bar {
    display: inherit;
    font-size: 15px;
    margin: 0 auto 30px;
    max-width: 300px;
    padding: 5px; }
    .main #search-bar:focus {
      outline: 0; }
  .main .cards {
    flex-flow: row wrap; }
    .main .cards .card {
      border-radius: 8px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      margin-bottom: 50px;
      max-width: 350px; }
      .main .cards .card__img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 225px; }
      .main .cards .card-content {
        border-top: 1px solid #ccc;
        color: #444;
        min-height: 350px;
        padding: 20px; }
        .main .cards .card-content__heading {
          font-size: 21px;
          margin-bottom: 5px;
          text-align: center; }
        .main .cards .card-content__subheading {
          color: #888;
          font-size: 18px;
          margin-bottom: 5px; }
        .main .cards .card-content__text {
          font-size: 15px;
          margin-bottom: 10px; }
          .main .cards .card-content__text:last-child {
            bottom: 20px;
            left: 0;
            margin-bottom: 0;
            right: 0;
            text-align: center; }
          .main .cards .card-content__text-link {
            border-bottom: 1px solid transparent;
            color: #444;
            cursor: pointer;
            text-decoration: none;
            transition: all ease-in-out 0.4s; }
            .main .cards .card-content__text-link::after {
              content: '>';
              right: 125px;
              position: absolute;
              opacity: 0;
              top: 1px;
              transition: all ease 0.4s; }
            .main .cards .card-content__text-link:hover {
              border-bottom: 1px solid #444; }
              .main .cards .card-content__text-link:hover::after {
                opacity: 1;
                right: 115px; }

@media (max-width: 767px) {
  .cards {
    align-items: center;
    flex-direction: column; } }
