@import '../mixins/mixins.scss';

@import '../variables/variables.scss';

body {
    @include background(fixed, url('../../images/destinations/background.jpg'), no-repeat, cover);
    margin: 0;
    padding: 0;
}

.cards {
    flex-flow: row wrap;
    margin: 50px auto;
    max-width: 1100px;
    .card {
        border-radius: 8px;
        font-family: $gill-sans;
        margin-bottom: 50px;
        max-width: 350px;
        &__img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 225px;
        }
        &__content {
            border-top: $side-gray;
            color: #444;
            min-height: 325px;
            padding: 20px;
            &-heading {
                font-size: 21px;
                margin-bottom: 5px;
                text-align: center;
            }
            &-subheading {
                color: #aaa;
                font-size: 18px;
                letter-spacing: 1px;
                margin-bottom: 5px;
            }
            &-text {
                font-size: 15px;
                margin-bottom: 10px;
                +p {
                    margin-bottom: 0;
                    text-align: center;
                }
            }
            &-link {
                border-bottom: 1px solid transparent;
                bottom: 0;
                color: #444;
                cursor: pointer;
                left: 0;
                right: 0;
                text-decoration: none;
                &::after {
                    content: '>';
                    right: -6px;
                    position: absolute;
                    opacity: 0;
                    top: -1px;
                    transition: all 0.4s;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        right: -13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cards {
        align-items: center;
        flex-direction: column;
    }
}