body {
  font-family: "Crimson Text", serif;
  background-attachment: fixed;
  background-image: url("../../images/backgrounds/fifa-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }
  body #header, body #content, body #footer {
    max-width: 1200px; }
    @media all and (min-width: 1200px) {
      body #header, body #content, body #footer {
        max-width: 1200px; } }
    @media all and (min-width: 960px) and (max-width: 1199px) {
      body #header, body #content, body #footer {
        max-width: 960px; } }
    @media all and (min-width: 768px) and (max-width: 959px) {
      body #header, body #content, body #footer {
        max-width: 720px; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      body #header, body #content, body #footer {
        max-width: 480px; } }
    @media all and (max-width: 479px) {
      body #header, body #content, body #footer {
        max-width: 320px; } }
