@import '../mixins/mixins.scss';

@import '../variables/variables.scss';

$crimson: 'Crimson Text', serif;

$color_panel: #f1ebe3;
$color_a: #da1a32;
$color_b: #002c5f;
$color_c: #c90006;
$color_d: #e00013;
$color_e: #005aa8;
$color_f: #009fa0;

body {
    font-family: $crimson;
    @include background(fixed, url('../../images/backgrounds/fifa-bg.png'), no-repeat, cover);
    margin: 0;
    padding: 0;

    #header, #content, #footer {
        max-width: 1200px;

        @media all and (min-width: $break-big-desktop) {
            max-width: 1200px;
        }
        @media all and (min-width: $break-desktop) and (max-width: $break-big-desktop - 1) {
            max-width: 960px;
        }
        @media all and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
            max-width: 720px;
        }
        @media all and (min-width: $break-mobile) and (max-width: $break-tablet - 1) {
            max-width: 480px;
        }
        @media all and (max-width: $break-mobile - 1) {
            max-width: 320px;
        }
    }
}