@import '../mixins/mixins.scss';

.table-container {
    @include font-prop(16px, #fff, Calibri);
    margin: 50px auto;
    max-width: 400px;
    th, td {
        text-align: center;
    }
    &-body {
        tr:hover {
            cursor: pointer;
        }
    }
}