@import url("../mixins/mixins.scss");
.table-container {
  font-family: Calibri;
  font-size: 16px;
  margin: 50px auto;
  max-width: 400px; }
  .table-container-head, .table-container-body {
    text-align: center; }
  .table-container-body tr:hover {
    cursor: pointer; }
