body {
  margin: 0;
  padding: 0; }
  body .banner {
    background-color: #0a493e; }
    body .banner__heading {
      border-bottom: 13px solid #317c2e;
      font-size: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: #fff;
      padding: 13px; }
      body .banner__heading p {
        margin: 0;
        text-align: left; }
    body .banner__cover {
      background-image: url("../../images/train-stations/GWR-cover.jpg");
      background-size: cover;
      min-height: 400px; }
    body .banner__logo {
      filter: brightness(100);
      left: 0;
      margin: 0 auto;
      right: 0;
      top: 20px; }
  body .stations {
    margin: 25px auto;
    max-width: 1050px; }
    body .stations__information {
      background-color: #0a493e;
      font-size: 16px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: #fff;
      margin: 30px auto; }
      body .stations__information-logo {
        filter: brightness(100);
        max-width: 120px; }
    body .stations__list {
      flex-flow: row wrap;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff; }
      body .stations__list-block {
        background-color: #0a493e;
        cursor: pointer;
        margin-bottom: 15px;
        max-width: 325px;
        padding: 15px 0;
        text-align: center;
        text-transform: uppercase;
        transition: background 0.5s; }
        body .stations__list-block:hover {
          background-color: #317c2e; }
