<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Form validation</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <link rel="stylesheet" href="../../content/utilities/utilities.css" />

    <link rel="stylesheet" href="../../content/forms/validation.css" />

</head>

<body>
    <div class="formular u-full-width u-full-height u-border">
        <form role="form" method="post" class="formular-content form-horizontal">
            <div class="form-group formular-content__personal u-flex">
                <label for="firstName">First Name:</label>
                <input name="firstName" class="u-full-with" type="text" v-model="firstName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="lastName">Last Name:</label>
                <input name="lastName" class="u-full-with" type="text" v-model="lastName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="age">Age:</label>
                <input name="age" class="u-full-with" type="text" v-model="age" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="address">Address:</label>
                <input name="homeAddress" class="u-full-with" type="text" v-model="homeAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="email">Email:</label>
                <input name="emailAddress" class="u-full-with" type="email" v-model="emailAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="address">Password:</label>
                <input name="password" class="u-full-with" type="password" v-model="emailPassword" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__list u-flex">
                <label for="languages">Languages:</label>
                <div class="u-flex u-flex--column">
                    <label>
                        English:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Spanish:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        French:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Arabic:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Chinese:
                        <input type="checkbox" v-model="languages" />
                    </label>
                </div>
            </div>
            <div class="form-group formular-content__list u-flex">
                <label for="selectRegion">Select your region:</label>
                <div class="u-flex u-flex--column">
                    <label>
                        European Union:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        United Kingdom:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Russia/Belarus:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Turkey:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Israel:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                </div>
            </div>
            <div class="form-group formular-content__buttons u-flex">
                <button type="submit" @submit="formValidation">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el: ".formular",
        data: {
            firstName: '',
            lastName: '',
            age: null,
            homeAddress: '',
            emailAddress: '',
            emailPassword: '',
        },
        methods: {
            formValidation: function () {
                if (this.firstName.length < 6) {
                    alert("The first name is too short");
                }
                if (this.lastName.length < 6) {
                    alert("The last name is too short");
                }
            },
        },
    });
</script>

</html>