<!DOCTYPE html>
<html lang="en-gb">

<head>

    <title>Form validation</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js" type="text/javascript"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../content/utilities/utilities.css" />

    <link rel="stylesheet" href="../../content/forms/validation.css" />

</head>

<body>
    <div class="formular u-full-width u-full-height u-border">
        <form role="form" method="post" class="formular-content form-horizontal">
            <div class="form-group formular-content__personal u-flex">
                <label for="firstName">First Name:</label>
                <input name="firstName" class="u-full-with" type="text" v-model="firstName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="lastName">Last Name:</label>
                <input name="lastName" class="u-full-with" type="text" v-model="lastName" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="age">Age:</label>
                <input name="age" class="u-full-with" type="text" v-model="age" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="address">Address:</label>
                <input name="homeAddress" class="u-full-with" type="text" v-model="homeAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="email">Email:</label>
                <input name="emailAddress" class="u-full-with" type="email" v-model="emailAddress" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__personal u-flex">
                <label for="address">Password:</label>
                <input name="password" class="u-full-with" type="password" v-model="emailPassword" />
                <span>{{ fieldRequired }}</span>
            </div>
            <div class="form-group formular-content__list u-flex">
                <label for="languages">Languages:</label>
                <div class="u-flex u-flex--column">
                    <label>
                        English:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Spanish:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        French:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Arabic:
                        <input type="checkbox" v-model="languages" />
                    </label>
                    <label>
                        Chinese:
                        <input type="checkbox" v-model="languages" />
                    </label>
                </div>
            </div>
            <div class="form-group formular-content__list u-flex">
                <label for="selectRegion">Select your region:</label>
                <div class="u-flex u-flex--column">
                    <label>
                        European Union:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        United Kingdom:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Russia/Belarus:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Turkey:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                    <label>
                        Israel:
                        <input type="radio" name="country" v-model="selectRegion" />
                    </label>
                </div>
            </div>
            <div class="form-group formular-content__buttons u-flex">
                <button type="submit" @submit="formValidation">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el: ".formular",
        data: {
            firstName: '',
            lastName: '',
            age: null,
            homeAddress: '',
            emailAddress: '',
            emailPassword: '',
        },
        methods: {
            formValidation: function () {
                if (this.firstName.length < 6) {
                    alert("The first name is too short");
                }
                if (this.lastName.length < 6) {
                    alert("The last name is too short");
                }
            },
        },
    });
</script>

</html>