@import '../mixins/mixins.scss';

.dropdown-box {
    background-color: #7986CB;
    border-radius: 8px;
    @include font-style(15px, #fff, Arial);
    margin: 50px auto;
    min-height: 40px;
    max-width: 150px;
    &__btn {
        cursor: pointer;
        display: inherit;
        padding: 10px 0;
        text-align: center;
        .caret {
            transform: rotate(-90deg);
        }
        .rotateDown {
            transform: rotate(0deg);
        }
    }
    &__list {
        margin-bottom: 0;
        li {
            border-top: 1px solid #ccc;
            padding: 10px;
            &:hover {
                background-color: #3949AB;
                cursor: pointer;
            }
        }
    }
}