.dropdown-box {
  background-color: #7986CB;
  border-radius: 8px;
  font-size: 15px;
  font-family: Arial;
  color: #fff;
  margin: 50px auto;
  min-height: 40px;
  max-width: 150px; }
  .dropdown-box__btn {
    cursor: pointer;
    display: inherit;
    padding: 10px 0;
    text-align: center; }
    .dropdown-box__btn .caret {
      transform: rotate(-90deg); }
    .dropdown-box__btn .rotateDown {
      transform: rotate(0deg); }
  .dropdown-box .slide-down-enter-active,
  .dropdown-box .slide-down-leave-active {
    transition: height 0.5s linear; }
  .dropdown-box__list {
    margin-bottom: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
    .dropdown-box__list li {
      border-top: 1px solid #ccc;
      padding: 10px; }
      .dropdown-box__list li:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
      .dropdown-box__list li:hover {
        background-color: #3949AB;
        cursor: pointer; }
