@import '../mixins/mixins.scss';

@import '../variables/variables.scss';

.dropdown-box {
    background-color: #069;
    border-radius: 8px;
    @include font-prop(15px, #fff, $arial);
    margin: 50px auto;
    max-width: 150px;
    min-height: 40px;
    &__btn {
        cursor: pointer;
        padding: 10px 0;
        text-align: center;
        &-arrow {
            display: inline-block;
            @include css-triangle(#fff, right, 5px);
            margin: 3px 0 0 4px;
            transform: rotate(0deg);
        }
        .rotateDown {
            transform: rotate(90deg);
        }
    }
    &__list {
        margin-bottom: 0;
        li {
            border-top: $side-gray;
            padding: 10px;
            transition: background 0.4s ease-in;
            &:last-of-type {
                border: {
                    bottom-left-radius: 8px;
                    bottom-right-radius: 8px;
                }
            }
            &:hover {
                background-color: #222;
                cursor: pointer;
            }
        }
    }
}