@import '../../mixins/mixins.scss';

.filter-container {
    margin: 0 auto;
    max-width: 600px;
    &__input {
        display: inline-block;
        margin: 20px auto;
        padding-left: 5px;
    }
    &__text {
        font-size: 14px;
        padding: 15px 0;
    }
    &__heading {
        margin: 0;
        padding-bottom: 15px;
    }
}